body {
  font-family: 'Open Sans', 'Lucida Grande', arial, sans-serif;
  margin: 2rem 2rem 0 2rem;
}

#place-holder {
  box-shadow: 5px 15px 30px 0 #888;
  padding: 40px;
}

#place-holder h2 {
  font-weight: lighter;
  opacity: 0.5;
}

#reload {
  float: right;
  opacity: 0.5;
}

#enter {
  float: right;
}

#place-holder a {
  text-decoration: none;
}

span i {
  color: grey;
}

.line-break {
  border-top: 1px solid #f1eaeaf2;
}

.add-list {
  opacity: 0.5;
}

.list-reset {
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  display: block;
  opacity: 0.6;
  color: black;
  margin-top: 1rem;
}

.style-list {
  border-bottom: 1px solid #cfc9c9f2;
  padding: 1rem 0;
  font-size: 1.2rem;
  opacity: 0.5;
}

.style-list span {
  float: right;
}
